# Compiled object files
*.o
*.obj

# Compiled executable files
*.bin
*.out
*.iso

# Temporary files
*~
*.swp
*.swo

# Dependency files
*.d

# Logs
*.log

# OS specific files

# Subdirectories
**/build/
**/bin/
**/obj/
